
<div>
    <a href="/projects/maps/map1/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>A1</h6></a>
    <a href="/projects/maps/map2/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>A2</h6></a>
    <a href="/projects/maps/map3/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>B</h6></a>
    <a href="/projects/maps/map4/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>C</h6></a>
    <a href="/projects/maps/map5/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>D</h6></a>
    <a href="/projects/maps/map6/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>E1</h6></a>
    <a href="/projects/maps/map7/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>E2</h6></a>
    <a href="/projects/maps/map8/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>F</h6></a>
    
    <a href="/projects/maps/map10/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>1</h6></a>
    <a href="/projects/maps/map9/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>2</h6></a>
</div>



