<!--
  <button type="button" class="btn btn-primary"> <a  href="https://foec.s3.eu-west-1.amazonaws.com/foec/data/BurialsDB.html"><h6>Database</h6></a></button>

<button type="button" class="btn btn-secondary"><a  href="/projects/maps/map1/" title="maps"><h6>Burial Maps</h6></a></button>
-->

<div>
  <a href="https://foec.s3.eu-west-1.amazonaws.com/foec/data/BurialsDB.html" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>Database</h6></a>

  <a href="/projects/maps/map1/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true"> <h6>Burial Maps</h6></a>
</div>